<style>
  html, body {
    padding: 0;
    margin: 0;
  }
  .post {
    padding-left: 0.25em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin-bottom: 0.25em;
    border-top-left-radius: 0.125em;
    border-bottom-left-radius: 0.125em;
  }
  .post:last-child {
    margin-bottom: 0;
  }
  .post_meta span {
    white-space: nowrap;
  }
  .post_meta > table {
    width: 100%;
  }
  .post_meta {
    width: 100%;
    margin-bottom: -1.25em;
  }
  .parity-0 {
    background: #f5f5f5
  }
  .parity-1 {
    background: #e8e8e8;
  }
  .flavor-root {
    background: lightyellow;
  }
  .collapsed > .post_body {
    display: none;
  }
  .collapsed {
    margin-bottom: 0.5em;
  }
  .display_name {
    font-weight: bold;
  }
  .acct {
    font-style: italic;
    color: #222;
  }
  .ts {
    text-decoration: none;
  }
  .external_url {
    font-size: small;
    vertical-align: super;
    font-weight: bold;
    text-decoration: none;
  }
  .vote, .favorite, .reply {
    text-decoration: none;
    color: black;
    background-color: #d3d3d3;  
  }
  .vote, .favorite, .reply, .author-weight {
    display: block;
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border-radius: 0.25em;
    font-size: 125%;
    width: 1em;
  }
  .settings {
    display: inline-block;
  }
  .post-buttons {
    margin-top: -0.4em;
   }
  .post-buttons td {
    vertical-align: middle;
    text-align: center;
    font-family: monospace;
  }
  .reply-text {
    width: 100%;
    height: 10em;
    margin-top: 0.5em;
  }
  .reply-error {
    color: red;
  }
  .link-card {
    border: 1px solid #aaa;
    border-radius: 0.125em;
    padding: 0.5em;
    margin: 0.5em;
  }
  .link-card-description {
    display: block;
    font-style: italic;
    text-decoration: none;
    color: inherit;
  }
  img {
    max-width: 100%;
  }
  #content {
    max-width: 100%;
    overflow: hidden;
    min-height: 100vh;
    background: #f5f5f5;
  }
  @media screen and (min-width: 45em) {
    #content {
      width: 45em;
      margin-left: auto;
      margin-right: auto;
    }
  }
  #welcome {
    padding: 1em;
  }
  #entries {
    background: #fff;
  }
  #header {
    background-color: black;
    font-weight: bold;
    font-size: 200%;
    position: relative;
  }
  #header > a {
    text-decoration: none;
    color: white;
  }
  h1, h2, h3 {
    margin: 25px;
  }
  #logo {
    text-align: center;
    display: block;
    padding: 0.25em;
  }
  #hamburger-icon {
    filter: grayscale(100%);
    display: block;
    position: absolute;
    top: 0.25em;
    left: 0.4em;
  }
  #hamburger-glass-pane {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  #hamburger-parent {
    position: relative;
    top: -0.5em;
    left: 1.5em;
  }
  #hamburger-menu {
    background: white;
    border: 5px solid #bbb;
    border-radius: 0.125em;
    position: absolute;
    padding: 0.5em;
    width: calc(100% - 6em);
    z-index: 2;
  }
  #hamburger-menu > ul > li {
    margin-bottom: 1em;
  }
  #hamburger-menu > hr {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .hidden {
    display: none;
  }
  #hamburger-menu-hide {
    position: absolute;
    top: 0;
    right: 0;
    width: 0.75em;
    height: 1em;
    font-family: sans-serif;
    display: block;
    text-decoration: none;
    color: black;
  }
  #alldone, #loading {
    padding: 1em;
    background-color: white;
    text-align: center;
  }
  #end-of-feed-placeholder-parent {
    position: relative;
    width: 100%;
    height: 0;
  }
  #end-of-feed-placeholder {
    position: absolute;
    width: 100%;
    top: -300vh;
    height: 300vh;
    pointer-event: none;
    z-index: -1;
  }
</style>
