<style>
  html, body {
    padding: 0;
    margin: 0;
  }
  .post {
    max-width: 35em;
    padding-left: 0.25em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin-bottom: 0.25em;
  }
  .post:last-child {
    margin-bottom: 0;
  }
  .parity-0 {
    background: #eee
  }
  .parity-1 {
    background: #ddd;
  }
  .flavor-root {
    background: lightyellow;
  }
  .collapsed > .post_body {
    display: none;
  }
  .collapsed {
    margin-bottom: 0.5em;
  }
  .display_name {
    font-weight: bold;
  }
  .acct {
    font-style: italic;
    color: #222;
  }
  .ts {
  }
  .external_url {
    font-size: small;
    vertical-align: super;
    font-weight-bold;
    text-decoration: none;
  }
</style>
