<html>
  <meta charset="utf-8">
  <title>Shrubgrazer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  $raw_css
  <div id=content>
  $raw_header
  <div id=entries>
  $raw_entries
  </div>
  <div id=end-of-feed-placeholder-parent>
    <div id=end-of-feed-placeholder></div>
  </div>
  <div id=alldone>nothing more worth showing</div>
  <div id=loading class=hidden>loading...</div>
  </div>
  <script>let next_token = $raw_next_token;</script>
  <script>const user_acct="$acct";</script>
  $raw_view_tracker_script
</html>
