<div class="post parity-$parity flavor-$flavor">
  <div class="post_meta">
    <table>
    <tr><td>
      <span class=display_name>$display_name</span>
      <span class=acct>$acct</span>
    </td>
    <td align=right>
      <span>
        <a href="$view_url" class=ts>$raw_ts</a>
        <a href="$external_url" class=external_url>&#x2197;</a>
      </span>
    </td>
    $raw_boosted_by
    </table>
  </div>
  <div class=post_body>
    $raw_body
    $raw_attachments
    $raw_children
  </div>
</div>
