<div id=header>
<a id=logo href="$website">shrubgrazer</a>
<a href="#" id=hamburger-icon>&#127828;</a>
</div>

<div id=hamburger-parent>
  <div id=hamburger-menu class=hidden>
    <a href="#" id=hamburger-menu-hide>x</a>
    <ul>
      <li class=loggedin><a href="${website}history">view history</a>
      <li><a href="https://github.com/jeffkaufman/shrubgrazer">source code</a>
    </ul>

    <hr class=loggedin>

    <ul>
      <li class=loggedin><a href="${website}clear_history?csrf=$csrf">clear history</a>
      <li class=loggedin><a href="${website}logout?csrf=$csrf">log out</a>
    </ul>
  </div>
</div>
<div id=hamburger-glass-pane class=hidden>
</div>

<script>
const hamburger_menu = document.getElementById("hamburger-menu");
const hamburger_pane = document.getElementById("hamburger-glass-pane");

document.getElementById("hamburger-icon").onclick = function () {
  hamburger_menu.classList.toggle("hidden");
  hamburger_pane.classList.toggle("hidden");
};

function hide_hamburger_menu(e) {
  hamburger_menu.classList.add("hidden");
  hamburger_pane.classList.add("hidden");
}

document.getElementById("hamburger-menu-hide").onclick = hide_hamburger_menu;
hamburger_pane.onclick = hide_hamburger_menu;

</script>
