<div id=header>
<a id=logo href="$website">shrubgrazer</a>
<a href="#" id=hamburger-icon>&#127828;</a>
</div>

<div id=hamburger-parent>
  <div id=hamburger-menu class=hidden>
    <a href="#" id=hamburger-menu-hide>x</a>
    <ul>
      <li class=loggedin><a href="${website}history">view history</a>
      <li><a href="https://github.com/jeffkaufman/shrubgrazer">source code</a>
    </ul>

    <hr class=loggedin>

    <ul>
      <li class=loggedin><a href="${website}clear-history?csrf=$csrf">clear history</a>
      <li class=loggedin><a href="${website}logout?csrf=$csrf">log out</a>
    </ul>
  </div>
</div>

<script>
const hambuger_menu = document.getElementById("hamburger-menu");

document.getElementById("hamburger-icon").onclick = function () {
  hambuger_menu.classList.toggle("hidden");
};

document.getElementById("hamburger-menu-hide").onclick = function () {
  hambuger_menu.classList.add("hidden");
};

</script>
