<div class="post parity-$parity flavor-$flavor">
  <div class="post_meta" post_id="$post_id">
    <table>
    <tr><td>
      <span class=display_name>$display_name</span>
      <span class=acct>$acct</span>
    </td>
    <td align=right>
      <span>
        <a href="$view_url" class=ts>$raw_ts</a>
        <a href="$external_url" class=external_url>&#x2197;</a>
      </span>
      <br>
      <span>
        <a href="#" data-url="$favorite_url" class=favorite>$raw_favorite_star</a>
      </span>
      <span>
        <a href="#" data-url="$down_url" class=vote>&darr;</a>
        <span class=author_weight>$weight</span>
        <a href="#" data-url="$up_url" class=vote>&uarr;</a>
      </span>
    </td>
    </table>
  </div>
  <div class=post_body>
    $raw_body
    $raw_attachments
    $raw_children
  </div>
</div>
