<script>
// The goal is to send a beacon back when a post has had its header
// (".post_meta") fully on screen for at least the minimum time.  This
// is so we don't show the same posts over and over.

onscreen = new Set();

// When an element comes on screen we set a timer.  If by the time the
// timer fires the element is still on screen we mark it as viewed.

function send_view_ping(post_id) {
  fetch("$view_ping_url?csrf=$csrf&post_id=" + post_id);
}

function load_more_content() {
  console.log("call to load_more_content");
  if (!next_token ||
      !window.loading.classList.contains("hidden")) return;

  window.alldone.classList.add("hidden");
  window.loading.classList.remove("hidden");
  fetch("$more_content_url?next=" + encodeURIComponent(
    JSON.stringify(next_token))).then(
    function(response) { return response.json() }).then(
      function(json) {
        for (rendered_entry of json.rendered_entries) {
          const post_parent = document.createElement("div");
          post_parent.innerHTML = rendered_entry;
          const post = post_parent.children[0];
          const post_meta = post.children[0];
          window.entries.appendChild(post);
          if ($should_track_views) {
            observer.observe(post_meta);
          }
        }

        next_token = json.next_token;
        window.alldone.classList.remove("hidden");
        window.loading.classList.add("hidden");

        // todo: if we're still within three screens of the end, call recursively
      });
}

function handle_intersect(entries, observer) {
  for (let entry of entries) {
    if (entry.target == placeholder) {
      if (entry.intersectionRatio > 0) {
        load_more_content();
      }
      continue;
    }

    if (entry.intersectionRatio > 0.99) {
      onscreen.add(entry.target.getAttribute("post_id"))
      start_observation_timer(entry.target);
    }
    if (entry.intersectionRatio < 0.01) {
      onscreen.delete(entry.target.getAttribute("post_id"))
    }
  }
}

function start_observation_timer(target) {
  window.setTimeout(function() {
    if (onscreen.has(target.getAttribute("post_id"))) {
      observer.unobserve(target);
      send_view_ping(target.getAttribute("post_id"));
    }
  }, 500);
}


const observer = new IntersectionObserver(handle_intersect, {
  root: null,
  rootMargin: "-50px 50px -50px 50px",
  threshold: [0, 1],
});

// Track the initial elements.
if ($should_track_views) {
  for (let element of document.getElementsByClassName("post_meta")) {
    observer.observe(element);
  }
}

const placeholder = document.getElementById("end-of-feed-placeholder");
observer.observe(placeholder);

</script>
