<script>
// The goal is to send a beacon back when a post has had its header
// (".post_meta") fully on screen for at least the minimum time.  This
// is so we don't show the same posts over and over.

onscreen = new Set();

// When an element comes on screen we set a timer.  If by the time the
// timer fires the element is still on screen we mark it as viewed.

function send_view_ping(post_id) {
  fetch("$view_ping_url?csrf=$csrf&post_id=" + post_id);
}

function load_more_content() {
  console.log("call to load_more_content");
  if (!next_token ||
      (Array.isArray(next_token) && !next_token.length) ||
      !window.loading.classList.contains("hidden") ||
      !"$more_content_url") {
    return;
  }

  window.alldone.classList.add("hidden");
  window.loading.classList.remove("hidden");

  let actual_next_token = next_token;
  if (Array.isArray(next_token)) {
    actual_next_token = [...on_page_unviewed];
  }

  fetch("$more_content_url?next=" + encodeURIComponent(
    JSON.stringify(actual_next_token))).then(
    function(response) { return response.json() }).then(
      function(json) {
        for (rendered_entry of json.rendered_entries) {
          const post_parent = document.createElement("div");
          post_parent.innerHTML = rendered_entry;
          const post = post_parent.children[0];
          const post_meta = post.children[0];
          window.entries.appendChild(post);
          // Elements need configuring as they come on screen.
          configure_post(post_meta);
        }

        next_token = json.next_token;
        window.alldone.classList.remove("hidden");
        window.loading.classList.add("hidden");

        if (placeholder_onscreen()) {
          // User got near the bottom by the time we finished
          // painting; load more.
          setTimeout(load_more_content, 0);
        }
      });
}

function populate_initial_feed() {
  window.alldone.classList.add("hidden");
  window.loading.classList.remove("hidden");
  populate_feed("");
}

function populate_feed(feed_population_state) {
  if (!"$populate_feed_url") return;

  fetch("$populate_feed_url?next=" +
        encodeURIComponent(feed_population_state)).then(
    function(response) { return response.json() }).then(
      function(json) {
        if (json.feed_population_state) {
          window.setTimeout(function() {
            populate_feed(json.feed_population_state);
          }, 0);
        } else {
          window.alldone.classList.remove("hidden");
          window.loading.classList.add("hidden");
          load_more_content();
        }
      });
}

function placeholder_onscreen() {
  if (!placeholder) return false;
  const rect = placeholder.getBoundingClientRect();
  return rect.top < window.innerHeight;
}

function handle_intersect(entries, observer) {
  for (let entry of entries) {
    if (entry.target == placeholder) {
      if (entry.intersectionRatio > 0) {
        load_more_content();
      }
      continue;
    }

    if (entry.intersectionRatio > 0.99) {
      onscreen.add(entry.target.getAttribute("post_id"))
      start_observation_timer(entry.target);
    }
    if (entry.intersectionRatio < 0.01) {
      onscreen.delete(entry.target.getAttribute("post_id"))
    }
  }
}

on_page_unviewed = new Set();

function start_tracking(element) {
  if (!$should_track_views) return;
  observer.observe(element);
  on_page_unviewed.add(element.getAttribute("post_id"));
}

function stop_tracking(element) {
  if (!$should_track_views) return;
  observer.unobserve(element);
  on_page_unviewed.delete(element.getAttribute("post_id"));
}

function start_observation_timer(target) {
  window.setTimeout(function() {
    if (onscreen.has(target.getAttribute("post_id"))) {
      stop_tracking(target);
      send_view_ping(target.getAttribute("post_id"));
    }
  }, 500);
}

function vote_click(e) {
  e.preventDefault();
  const author_weight = e.target.parentElement.querySelector(".author_weight");
  author_weight.innerText = "?";
  fetch(e.target.dataset.url).then(
    function(response) { return response.json() }).then(
      function(json) {
        author_weight.innerText = json.weight;
      });
}

function favorite_click(e) {
  e.preventDefault();
  direction = {
    "\u2605": -1, // black star, unfavoriting
    "\u2606": 1,  // white star, favoriting
  }[e.target.innerText]

  if (!direction) return;

  e.target.innerText = "";
  fetch(e.target.dataset.url +
        "&direction=" + encodeURIComponent(direction)).then(
    function(response) { return response.json() }).then(
      function(json) {
        e.target.innerText = json.star;
      });
}



function configure_post(post_meta) {
  start_tracking(post_meta);

  for (vote of post_meta.querySelectorAll(".vote")) {
    vote.onclick = vote_click;
  }

  for (favorite of post_meta.querySelectorAll(".favorite")) {
    favorite.onclick = favorite_click;
  }
}

const observer = new IntersectionObserver(handle_intersect, {
  root: null,
  rootMargin: "-50px 50px -50px 50px",
  threshold: [0, 1],
});

// Configure the initial elements.
for (let element of document.getElementsByClassName("post_meta")) {
  configure_post(element);
}

const placeholder = document.getElementById("end-of-feed-placeholder");
if (placeholder) {
  observer.observe(placeholder);
}

populate_initial_feed();
load_more_content();

</script>
